/* .cen{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.my-nav{
    background-color: rgb(13, 2, 39);
}

.navbar-brand img{
    /* background-image: url("../logo.png"); */
}